<header>

    <mat-card>

        <mat-card-header>
            <mat-card-title>
                HELLO!    
            </mat-card-title>

          <mat-card-subtitle>
                I’m Javier Zamora
                Aspiring Developer & Web Designer
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
            <ul class="rrss">
                <li class="img-miniatura">
                    <a href="https://github.com/fjzamora93" target="_blank">
                        <img src="img/icons/github.png" alt="rrss" class="img-miniatura">
                    </a>
                </li>
                <li class="img-miniatura">
                    <a href="https://www.linkedin.com/in/fjzamora/" target="_blank">
                        <img src="img/icons/logotipo-de-linkedin.png" alt="rrss" class="img-miniatura">
                    </a>
                </li>
                <li class="img-miniatura">
                    <a href="https://www.instagram.com/elgatobarista/" target="_blank">
                        <img src="img/icons/logo-instagram.png" alt="rrss" class="img-miniatura">
                    </a>
                </li>
                
            </ul>
        </mat-card-actions>
      </mat-card>

    
</header>


