<header>

        <div id="antetitulo">
            FUELED BY CODE ... AND COFFEE
        </div>


        <div id="subtitle">
            <p>
  
                ¡Hey!, mi nombre es Javier Zamora, y ... <br>
              {{ currentText }}<span class="cursor">|</span>
        
            </p>

            <img src="img/logos/elgatobarista-sf.png" alt="Logo" >
        </div>
        
         
      <!---
        npm run build -- --base-href "https://fjzamora93.github.io/AngularPortfolio/"
        npx angular-cli-ghpages --dir=dist/portfolio/browser
-->
    
</header>


