@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



ul li{
    list-style-type: none;
}


header {
    text-align: center;
    margin: 3rem auto;
  }
  


  
  header h1 {
    font-size: 1.5rem;
  }




#title{
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 500;
}

#subtitle img{
    width: 150px;
    height: auto;
    cursor:pointer;
}

img:hover{
    opacity:1;
}

#subtitle{
    font-size: 1.4em;
    line-height: 1.2em;
    max-width: 600px;
}

div{
    margin: 2rem auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#antetitulo{
    font-size: 1.2em;

}