<header>

        <div id="antetitulo">
            A FULL STACK COFFEE FOR A FULL STACK DEVELOPER
        </div>

    
        <div id="title">
            EL GATO BARISTA
        </div>


        <div id="subtitle">
            <p>
                ¡Hey!, mi nombre es Javier Zamora, y soy desarrollador de software. 
                Aquí preparemos café y escribimos código a partes iguales.

                ¿Comenzamos? </p>
            <img src="img/logos/elgatobarista-sf.png" alt="Logo" >
        </div>
        
         
      <!---
        npm run build -- --base-href "https://fjzamora93.github.io/AngularPortfolio/"
        npx angular-cli-ghpages --dir=dist/angular-template/browser
-->
    
</header>


