<footer>
    <div class="footer-container">
        <div class="footer-section about">
            <h4>Sobre mí</h4>
            <p>Desarrollador junior de aplicaciones multimedia. Desarrollo web. Análisis de datos e Inteligencia Artificial.</p>
        </div>


        <div class="footer-section contact">
            <h4>Contacto</h4>
            <p>Email: elgatobarista&#64;gmail.com</p>
        </div>

        <div class="footer-section social">
            <h4>Sígueme</h4>
            <a href="https://github.com/fjzamora93" target="_blank">
                <img src="img/icons/github.png" alt="rrss" class="social-icon">
            </a>
            <a href="https://www.linkedin.com/in/fjzamora/" target="_blank">
                <img src="img/icons/logotipo-de-linkedin.png" alt="rrss" class="social-icon">
            </a>
            <a href="https://www.instagram.com/elgatobarista/" target="_blank">
                <img src="img/icons/logo-instagram.png" alt="rrss" class="social-icon">
            </a>
        </div>
    </div>


</footer>

<!-- Nueva sección debajo del footer principal -->
<div class="footer-bottom">
    <div class="footer-bottom-left">
        <p>&copy; 2024 Javier Zamora. Todos los derechos reservados.</p>
        <a href="#privacy-policy">Política de Privacidad</a>
    </div>
    <div class="footer-bottom-right">
        <img src="img/logos/elgatobarista-sf.png" alt="Logo" id="footer-logo"> <!-- Reemplaza con la ruta de tu logo -->
    </div>
</div>
    

