/* Estilos para el footer principal */
footer {
    background-color: #525252;
    color: white;
    padding: 40px 0;
    text-align: left;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    padding: 20px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: rgb(217, 221, 234);
}

.footer-section a{
    margin-left: 30px;
}

.social-icon {
    width: 40px;
    font-size: 24px;
    margin-right: 15px;
    color: white;
    opacity: 0.5;
    transition: transform 0.3s ease;
    filter: invert(100%);
}

.social-icon:hover {
    color: rgb(217, 221, 234);
    opacity: 1;
    transform: scale(1.2);
}

/* Estilos para la sección de copyright y logo */
.footer-bottom {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.footer-bottom-left {
    margin: auto;
}

.footer-bottom-left p {
    margin: 0;
}

.footer-bottom-left a {
    color: rgb(217, 221, 234);
    text-decoration: none;
    margin-left: 20px;
}

.footer-bottom-left a:hover {
    text-decoration: underline;
}

.footer-bottom-right {
    padding-right: 5px;
    background-color: white;
    padding: 5px;
    margin: 10px 30px 10px 0px;
    border-radius: 50%;
}

#footer-logo {
    height: 60px; /* Ajusta el tamaño del logo según sea necesario */
}

