<section id="about" class="bloque-gris">
    <!-- Primera imagen -->
    <img src="img/avatar.png" id="about-avatar" alt="Avatar"/>

    <!-- Contenedor de la descripción -->
    <div id="about-titulo">
        <h2 id="titulo">Desarrollador de aplicaciones multimedia</h2>
    </div>

    <!-- Contenedor del subtítulo y el texto -->
    <div id="about-description">
        <div id="barra-divisora"></div>
        <h3 id="subtitulo"> Esto es un subtítulo</h3>
        <p>
            Una vez escuché eso de que la Inteligencia Artificial pondría fin a nuestra creatividad. Puede que sea así, quizás me tiente la idea de averiguarlo; 
            pero en realidad sigo siendo una persona que busca soluciones humanas a problemas humanos (sin más)...
        </p>
        <p>
            Actualmente, me sigo formando como desarrollador, 
            con bastante interés en la Inteligencia Artificial y el análisis de datos. 
            Luego está mi relación de amor-odio con el diseño😉, aunque de eso podemos hablar en otra ocasión.
        </p>
    </div>
</section>
