<div class="bloque-purpura">
    <p class="tags">WEB </p>
    <p class="tags">| </p>
    <p class="tags">ANDROID </p>
    <p class="tags">| </p>
    <p class="tags">AI</p>
</div>

<section id="about" class="bloque-blanco">
    <!-- Primera imagen -->
    <img src="img/avatar.png" id="about-avatar" alt="Avatar"/>

    <!-- Contenedor de la descripción -->
    <div id="about-titulo">
        <h2 id="titulo">Junior Developer & Aspiring Data Analyst</h2>
    </div>

    <!-- Contenedor del subtítulo y el texto -->
    <div id="about-description">
        <div id="barra-divisora"></div>
        <h3 id="subtitulo"> Creando experiencias </h3>
        <p>
            Diseñando páginas web desde 2014 a través de diversos CMS como WordPress o Drupal, es en 2023 
            cuando decido dar un paso más allá para programar escribiendo mi propio código.
        </p>

        <p> 
            Actualmente sigo aprendiendo y procuro mantenerme actualizado en las últimas tecnologías y tendencias del sector.
            Análisis de datos, Inteligencia Artificial, DevOps o Android son algunas de las competencias que he ido adquiriendo a lo largo de estos dos años.
        </p>

        <p> 
            Angular, ExpressJs, Django o SpringBoot son algunos de los Frameworks con los que he trabajado hasta ahora.
            ¿Quieres saber más?
        </p>
        <button mat-button id="standar-button" color="primary">
            <a href="#footer" > 
                ¡Vamos!
            </a>
        </button>
    </div>
</section>
