#boton-next{
    background-color: rgb(178, 177, 177);
    width: 40px;
    height: 60px;
    border-radius: 100%;
    margin:0px 20px 0px;
}

#boton-next:hover, #boton-next:hover h4 {
    background-color: rgb(5, 5, 5);
    color: white;
}



#boton-next h4 {
    color: rgb(54, 54, 54);
    margin: auto;
    font-size: 30px;
}

section{
    padding: 0px 20% 0px 20%;
}

@media (max-width: 700px) {
    
    section{
        padding: 0px;
    }

  }