<section id="experiencia" class="bloque-blanco">
    <h2>Experiencia - Trayectoria profesional</h2>

    <div class="proyectos">
        <img src="img/logos/logo-lapab-black.png" alt="uma" class="img-exp">
        <h3> <b>Laboratorio de Procesos Acoplados Biofísicos</b> </h3>
        <p> Diseño web 2024-actualidad </p>
        <div>
            <p class="texto">
                Diseño de la web corporativa para el laboratorio de investigación antártica para el año 2024.
            </p>
        </div>
    </div>

    <div class="proyectos">
        <img src="img/logos/elgatobarista.png" alt="uma" class="img-exp">
        <h3> <b>El Gato Barista</b> </h3>
        <p> Fundador y content creator 2019-2021 </p>
        <div>
            <p class="texto">
                Creación de la guía digital de café de especialidad. Blogging especializado en el café y maquetación web.
            </p>
        </div>
    </div>

    <div class="proyectos">
        <img src="img/logos/hostelvending-2.png" alt="uma" class="img-exp">
        <h3> <b>Revista Hostelvending </b></h3>
        <p> Content Creator 2017-2019 </p>
        <div>
            <p class="texto">
                Redacción, maquetación y creación de contenido para la revista de hostelería "Hostelvending". 
            </p>
        </div>
    </div>

    <div class="proyectos">
        <img src="img/logos/complejo-humo.jpg" alt="uma" class="img-exp">
        <h3> <b>Complejo Humo </b></h3>
        <p> Diseño web CMS 2016 </p>
        <div>
            <p class="texto">
                Creación de página web para el Complejo Humo (Málaga) a través del CMS Wordpress.
            </p>
        </div>
    </div>
</section>