<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" id="proyectos" style="display:block;">
    <h2>Proyectos actuales</h2>

    @for(proyecto of dataSource; track proyecto.title){
        <mat-tab label="{{proyecto.title}}">
            <div id="div-tab" class="bloque-gris">
                <img src="{{proyecto.imgUrl}}"  alt="{{ proyecto.imgUrl }}" class="img-proyecto"> 
                <h2> {{proyecto.title}} </h2>
                <p> {{proyecto.description}} </p>
                 
            </div>
        </mat-tab>
    }

  </mat-tab-group>
