<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" id="proyectos" style="display:block;">
    <h2>Proyectos actuales</h2>

    <mat-tab label="Rol Generator">
        <div>
            <h2> Generador aleatorio de escenarios para juegos de rol </h2>
            <p> Descripción del segundo proyecto</p>
            <img src="img/proyect-3.jpg" class="img-proyecto">  
       </div>
    </mat-tab>

    <mat-tab label="Marilo's Bakery">
        <div>
            <h2> Aplicación web para la gestión de recetas online </h2>
            <p> Descripción del tercer proyecto</p>
            <img src="img/proyect-3.jpg" class="img-proyecto">  
       </div>
    </mat-tab>

    <mat-tab label="LaPAB: Laboratorio de Procesos Acoplados Biofísicos">
        <div>
            <h2> LaPAB: Laboratorio de Procesos Acoplados Biofísicos </h2>
            <p> Descripción del primer proyecto</p>
            <img src="img/proyect-3.jpg" class="img-proyecto">  
       </div>
    </mat-tab>
  </mat-tab-group>
