.custom-card {
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 20px auto; /* Centra la caja horizontalmente y añade margen superior e inferior */
    padding: 16px; /* Añade relleno interno */
    background-color: #f5f5f5; /* Color de fondo suave */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  }
  

.nav-button {
    width: 40px;
    height: 40px; 
    border: 2px groove  #000; 
    background-size: contain;
    cursor: pointer;
    margin: 30px;
  }

.left-arrow{
    float:left;
}

.right-arrow{
    float:right;
}
  
.galeria{
    width: 80%;
    margin: auto;
    display: inline;
}

mat-card-content {
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    color: #333; /* Color del texto */
  }


mat-grid-list{
    width: 80%;
    margin: auto;

}
