
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Añade una transición a la imagen */
}

.grid-item p {
    background-color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding: 5px 10px 10px 0px;
    transition: transform 0.3s ease; /* Añade una transición al párrafo */
    position: relative; /* Necesario para que el movimiento sea relativo a su posición original */
}

.grid-item:hover p {
    transform: translateY(-30px); /* Mueve el párrafo hacia arriba cuando se pasa el cursor por la imagen */   
}


.grid-item:hover{
    cursor: pointer;
    cursor: url("../../../public/img/icons/target_50.png"), auto;
}


.nav-button {
    width: 40px;
    height: 40px; 
    border: 2px groove  #000; 
    background-size: contain;
    cursor: pointer;
    margin: 30px;
  }

.left-arrow{
    float:left;
}

.right-arrow{
    float:right;
}
  



@media (max-width: 700px) {
    .grid-container {
        display: inline;
        overflow: hidden;
        gap: 0px; 
        padding: 0px;
    }

    .nav-button{
        display:none;
    }

  }