mat-card{
    width: 50%;
    margin: auto;
    display: inline-block;
}

.progress-container{
    margin: 20px auto;
}

mat-card-content{
    margin: 20px auto;
}

@media (max-width: 700px) {
    mat-card {
        width: 100%;
    }
    .progress-container {
        margin: 10px auto;
    }
    mat-card-content {
        margin: 10px auto;
    }
}