<section id="skills" class="bloque-blanco">
    <mat-card>

        <mat-card-content>
            <h2>Lenguajes de programación</h2>
            <figure id="figure-formation" style="display: inline-block; margin:10px;">
                <img src="img/logos/python-logo.png" alt="python" class="img-miniatura">
                <figcaption>Python</figcaption>
            </figure>

            <figure id="figure-formation" style="display: inline-block; margin:10px;">
                <img src="img/logos/javascript-logo.png" alt="python" class="img-miniatura">
                <figcaption>Javascript</figcaption>
            </figure>

            <figure id="figure-formation" style="display: inline-block; margin:10px;">
                <img src="img/logos/typescript-logo.png" alt="illustrator" class="img-miniatura">
                <figcaption>Typescript</figcaption>
            </figure>

            <figure id="figure-formation" style="display: inline-block; margin:10px;">
                <img src="img/logos/java-logo.png" alt="figma" class="img-miniatura">
                <figcaption>Java</figcaption>
            </figure>
        
        <mat-divider/> 

        
            <h2>Backend & Data Science</h2>
            @for (graphic of graphicService.backendGraphics; track graphic._id; let idx = $index){
                

                <div class="progress-container">
                    <p>{{ graphic.title }}</p>
                    <div class="progress-bar">
                        <app-progress-bar [title]="graphic.title" [delay]="idx*200" [targetValue]="graphic.percent" />
                    </div>
                </div>
            }
        </mat-card-content>

    </mat-card>

    <mat-card>
        <mat-card-content>
      
            <h2> FrontEnd & Design Skills</h2>
                
            <figure id="figure-formation" style="display: inline-block; margin:10px;">
                <img src="img/logos/html-logo.svg" alt="python" class="img-miniatura">
                <figcaption>HTML</figcaption>
            </figure>

            <figure id="figure-formation" style="display: inline-block; margin:10px;">
                <img src="img/logos/css-logo.png" alt="python" class="img-miniatura">
                <figcaption>CSS</figcaption>
            </figure>

            <figure id="figure-formation" style="display: inline-block; margin:10px;">
                <img src="img/logos/illustrator-logo.png" alt="illustrator" class="img-miniatura">
                <figcaption>Illustrator</figcaption>
            </figure>

            <figure id="figure-formation" style="display: inline-block; margin:10px;">
                <img src="img/logos/photoshop-logo.jpg" alt="figma" class="img-miniatura">
                <figcaption>Photoshop</figcaption>
            </figure>

        <mat-divider/>

            <h2> FrontEnd & UI/UX </h2>
            @for (graphic of graphicService.frontendGraphics; track graphic._id; let idx = $index){
                
                <div class="progress-container">
                    <p>{{ graphic.title }}</p>
                    <div class="progress-bar">
                        <app-progress-bar [title]="graphic.title" [delay]="idx*200" [targetValue]="graphic.percent" />
                    </div>
                </div>
            }
        </mat-card-content>
    </mat-card>

</section>



