
<app-nav-bar/>


<app-header/>

<body>
    <section id="about" class="bloque-gris">
        <div>
            
            <div class="texto">
                <h2>Quién soy</h2>
                Una vez escuché eso de que la Inteligencia Artificial pondría fin a nuestra creatividad. Puede que sea así, quizás me tiente la idea de averiguarlo; 
                pero en realidad sigo siendo una persona que busca soluciones humanas a problemas humanos (sin más)...
            </div>

            <div  class="texto">
                <br>Actualmente, me sigo formando como desarrollador, 
                con bastante interés en la Inteligencia Artificial y el análisis de datos. 
                Luego está mi relación de amor-odio con el diseño😉, aunque de eso podemos hablar en otra ocasión.
                <br><br>"Simple is better than complex.
                <br>Complex is better than complicated.
                <br>In the face of ambiguity, refuse the temptation to guess."
                <br><b>---Zen of Python. </b>
            </div>
        </div>
        
        <img src="img/avatar.png"/>  
    </section>

   
    <app-tabs-content/>

    <app-graphics/>

    <app-table-list dataFile="formationData"/>


    <app-experience/>

    <section class="dibujo-hello">
        <app-step-form/>
    </section>
</body>


<footer id="contacto">

    <div id="grid-container">
        <div> Email: fjzamora93gmail.com</div>
        <a href='doc/curriculo-fjzamora-1.pdf' target="_blank"><div> Descargar CV</div></a>
        <a href='doc/documentacion.pdf' target="_blank"><div> Documentacion</div></a>
    </div>

</footer>