
@if (!isReading) {

<app-nav-bar/>

<app-header/>

<body>
    <app-about id="about"/>
    
    <app-gallery dataFile="projectsData" id="proyectos"/>

    <app-graphics id="habilidades"/>

    <app-experience dataFile="experienceData" id="experiencia"/>

    <app-table-list dataFile="formationData" id="formacion"/>

    <section class="dibujo-hello" id="contacto">
        <app-step-form/>
    </section>
</body>


}@else {
    <app-privacy-politic [(reading)]="isReading"/>
}


<app-footer (openingPolicy)="openingPolicy($event)"/>