
<mat-card>
    <form  #postForm="ngForm">
        <input type="text" 
        name="_id" 
        [(ngModel)]="editedPost._id" 
        hidden 
        #_id="ngModel" > 

        <mat-form-field>
            <input
                matInput
                type="text"
                name="title"
                [(ngModel)]="editedPost.title"
                required
                placeholder="Post Title"
                #title="ngModel">
            <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
        </mat-form-field>

      <mat-form-field>
        <textarea
          matInput rows="4" name="content"
          [(ngModel)]="editedPost.content"
          required placeholder="Post Content"
          #content="ngModel">
        </textarea>
        <mat-error *ngIf="content.invalid">Please enter a post title.</mat-error>
      </mat-form-field>

    @if (!editing){
        <button
            mat-raised-button
            color="accent"
            (click)="onAddPost(postForm)">Guardar
        </button>
    } @else {
        <button
            mat-raised-button
            color="primary"
            (click)="onUpdatePost(postForm)">Actualizar
        </button>

        <button
            mat-raised-button
            color="accent"
            (click)="onCancelEdit()">Cancelar
        </button>
    }
    

    </form>
  </mat-card>
  