<nav id="menu-pc" color="primary" mat-stretch-tabs>


    <button mat-button>
        
        <a href="#habilidades"><p>Habilidades</p></a>
    </button>

    <button mat-button>
        <a href="#proyectos"><p>Proyectos</p></a>
    </button>

    <button mat-button>
        <a href="#experiencia"><p>Experiencia</p></a>
    </button>

    <button mat-button>
        <a href="#formacion"><p>Formación</p></a>
    </button>

    <button mat-button>
        <a href="#contacto"><p>Contacto</p></a>
    </button>


    <button mat-button [matMenuTriggerFor]="belowMenu">
        <a href="#"><p>Descargas</p></a>
    </button>

    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>
            <a href="data/curriculo-fjzamora-1.pdf" target="_blank">
                <p><i class="fas fa-download"></i>Curriculum PDF </p>
                
            </a>
        </button>
    </mat-menu>

</nav>


<nav id="menu-movil">

    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button-movil">
        <i class="material-icons" >menu</i>
    </button>

    <mat-menu #menu="matMenu" id="menu-desplegable-movil">
        <div id="menu-desplegable-movil">
            <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span><a href="#habilidades">Habilidades</a></span>
            </button>
            <button mat-menu-item>
            <mat-icon>voicemail</mat-icon>
            <span><a href="#proyectos">Proyectos</a></span>
            </button>
            <button mat-menu-item>
                <mat-icon>school</mat-icon>
            
                <span><a href="#formacion">Formación</a></span>
            </button>
            <button mat-menu-item>
                <mat-icon>computer</mat-icon>
                <span><a href="#experiencia">Experiencia</a></span>
            </button>
            <button mat-menu-item>
                <mat-icon>download</mat-icon>
                <span><a href="#experiencia">Descargar CV</a></span>
            </button>
        </div>
    </mat-menu>

</nav>

