<nav id="menu-pc" color="primary" mat-stretch-tabs>


    <button mat-button>
        <a href="#habilidades">Habilidades</a>
    </button>

    <button mat-button>
        <a href="#proyectos">Proyectos</a>
    </button>

    <button mat-button>
        <a href="#experiencia">Experiencia</a>
    </button>

    <button mat-button>
        <a href="#formacion">Formación</a>
    </button>

    <button mat-button>
        <a href="#contacto">Contacto</a>
    </button>


    <button mat-button [matMenuTriggerFor]="belowMenu">Descargas</button>

    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>
            <a href="doc/curriculo-fjzamora-1.pdf">
                CV PDF
                <i class="fas fa-download"></i>
            </a>
        </button>
    </mat-menu>

</nav>


<nav id="menu-movil">

    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button-movil">
        <i class="material-icons" >menu</i>
    </button>

    <mat-menu #menu="matMenu" id="menu-desplegable-movil">
        <div id="menu-desplegable-movil">
            <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span><a href="#habilidades">Habilidades</a></span>
            </button>
            <button mat-menu-item>
            <mat-icon>voicemail</mat-icon>
            <span><a href="#proyectos">Proyectos</a></span>
            </button>
            <button mat-menu-item>
                <mat-icon>school</mat-icon>
            
                <span><a href="#formacion">Formación</a></span>
            </button>
            <button mat-menu-item>
                <mat-icon>computer</mat-icon>
                <span><a href="#experiencia">Experiencia</a></span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>download_for_offline</mat-icon>
                <span><a href="#descargas">Descargas</a></span>
            </button>
        </div>
    </mat-menu>

</nav>

