a{
    color:black;
    text-decoration: none;
    padding-top: 15px;
}

a p{
    color:black;
    text-decoration: none;
    padding-top: 10px;
}

button{
    margin-left: 20px;
}
#menu-movil{
    display: none;
}

.material-icons{
    margin-right: 10px;
}

nav{
    height: 70px;
}

@media (max-width: 700px) {

    button:hover i{
        color:#ffffff;
        font-size: 1.5em;
    }
    
    

    .menu-button-movil:hover{
        width: 2.3em;
        height: 2.3em;
        background-color: #7d55bd;
        opacity: 1;
    }
   
    #menu-desplegable-movil{
        width: 300px;
    }
    i{
        font-size: 1.5em;
        color: rgb(58, 53, 53);
    }

   
    #menu-movil{
        display: block;

    }

    #menu-pc{
        display: None;
    }
}