
<section>
<h1>Política de Privacidad</h1>

    <p>Esta Política de Privacidad describe cómo manejamos la información personal que pueda ser recolectada a través de nuestro sitio web.</p>

    <h2>1. Información almacenada</h2>
    <p>Nuestro sitio web no almacena información personal de los usuarios. No requerimos registro que implique el suministro de datos personales.</p>

    <h2>2. Uso de cookies</h2>
    <p>El sitio utiliza cookies únicamente para facilitar el funcionamiento del formulario de contacto, el cual se utiliza para enviarnos correos electrónicos. Estas cookies son necesarias para garantizar que el formulario funcione correctamente.</p>
    <p>Además, podrían existir cookies de terceros en nuestro sitio web. Estas cookies pueden ser instaladas por servicios externos, como herramientas de análisis o redes sociales, que pueden realizar un seguimiento de tu actividad en línea. No tenemos control sobre estas cookies y te recomendamos revisar las políticas de privacidad de dichos terceros para obtener más información.</p>

    <h2>3. Recopilación temporal de datos personales</h2>
    <p>No almacenamos datos personales, aunque recopilamos temporalmente el correo electrónico y el nombre facilitado para el envío de mails. 
    Estos datos no se almacenan en la base de datos del sitio web y se utilizan únicamente para responder a las consultas realizadas a través del formulario de contacto.
    </p>

    <h2>4. Cambios en la Política de Privacidad</h2>
    <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Cualquier cambio será publicado en esta página y se indicará la fecha de la última actualización.</p>

    <h2>5. Contacto</h2>
    <p>Si tienes alguna pregunta sobre esta Política de Privacidad, puedes contactarnos a través del formulario disponible en el sitio web.</p>



<button mat-button id="standar-button"  (click)="onAccept()">
    <a href="#contacto" > 
        <i class="material-icons">home</i><p>Inicio</p>
    </a>
</button>
</section>