<mat-accordion multi="true" *ngIf="posts.length; else noPosts">

    @for (post of posts; track post._id) {
        @if (!editing) {
            <mat-expansion-panel>

                
                <mat-expansion-panel-header>
                    {{ post.title }}
                </mat-expansion-panel-header>

                <p> Id del post: {{ post._id }}</p>
                <p> Contenido: {{ post.content }}</p>
            
                <mat-action-row>
                    <button mat-button color="primary" (click)="onUpdate(post)">EDIT</button>  
                    <button mat-button color="warn" (click)="onDelete(post._id)">DELETE</button>
                </mat-action-row>

            </mat-expansion-panel>
        } 
    }

    @if (editing) {
        <app-post-create [(editedPost)]="myPost" [(editing)]="this.editing" ></app-post-create>
    }
  </mat-accordion>
  
  <ng-template #noPosts>
    <p class="info-text mat-body-1">No posts added yet!</p>
  </ng-template>
  