#formacion {
    padding: 20px 10% 20px;
}
.img-miniatura {
    width: 50px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantén la proporción de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    vertical-align: middle; /* Alinea la imagen al centro vertical */
  }
  
  .celda {
   
    align-items: center; /* Alinea verticalmente al centro */
  }

section{
    padding: 0 10% 0 10%;
}

table{
    max-width: 800px;
}

@media (max-width: 700px) {
    section{
        padding: 0px 0px 0px 0px;
    }
}